<h1>
  welcome to my first angular project 
</h1>
<!-- variable -->
<p>name : {{name}}</p>
<p>city : {{city}}</p>
<p>vale : {{val}}</p>
<p>nuber: {{num}}</p>
<p>true : {{bool}}</p>
<!-- array -->
<p>cousrse = {{  courses }}</p>
<p>cousrse = {{  courses[2] }}</p>

<!-- object -->
 <ul>
  <li>{{student.name}}</li>
  <li>{{student.city}}</li>
  <li>{{student.age}}</li>
  <li>{{student.per}}</li>
  <li>{{student.edu}}</li>
</ul>
<!-- interpollation {{}} -->
 <hr>
 <!-- callinng a compoent by selector -->
<app-first> </app-first>
<hr>

